body {
    font-size: 16px;
    margin: 0;
    background: #000;
}

* {
    box-sizing: border-box;
}

button, input, input[type="button"], input[type="number"] {
    font-size: 40px;
    width: 23%;
    vertical-align: middle;
    background-color: #444;
    color: #ccc;
    border-width: 0;
}

input[type="button"]{
    font-size: 23px;
    font-weight: bold;
    padding: 10px;    
}

input[type="range"] {
    width: 80%;
    /*padding: 60px 0; 1 */
    background-color: #333;
}

/*from https://www.cssportal.com/style-input-range/*/

input[type=range] {
    /*height: 38px;*/
    -webkit-appearance: none;
    margin: 20px 0;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 20px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0 0 2px #000000;
    background: #506070;
    border-radius: 5px;
    border: 1px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 3px #000000;
    border: 2px solid #000000;
    height: 43px;
    width: 43px;
    border-radius: 16px;
    background: #DC143C;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -1%;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #506070;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0 0 2px #000000;
    background: #506070;
    border-radius: 5px;
    border: 1px solid #000000;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 3px #000000;
    border: 2px solid #000000;
    height: 43px;
    width: 43px;
    border-radius: 16px;
    background: #FFFFFF;
    cursor: pointer;
}

input[type=range]::-ms-track {
    height: 2px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #3071A9;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #000000;
}

input[type=range]::-ms-fill-upper {
    background: #3071A9;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #000000;
}

input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 1px 1px 3px #000000;
    border: 2px solid #000000;
    height: 43px;
    width: 43px;
    border-radius: 16px;
    background: #FFFFFF;
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
    background: #3071A9;
}

input[type=range]:focus::-ms-fill-upper {
    background: #3071A9;
}

input#aimer{
    max-width: 700px;   
}

/*end range css*/

#decrease:before {
    content: "<--";
}

#increase:before {
    content: "-->";
}

#board {
    position: relative;
    width: 700px;
    height: 700px;
    border: 1px solid #775;
    background: rgba(60, 60, 30, .1);
    background-image: url("circle_white.png");
    background-repeat: no-repeat;
    background-position: 328px 680px;
    margin: 10px auto;
    overflow: hidden;
    z-index: 100;
}

#board.aiming {
    cursor: crosshair;
}

#gun {
    position: absolute;
    left: 350px;
    bottom: 0;
    width: 100px;
    height: 100px;
    background-image: url("line45.png");
    background-size: cover;
}

#gun_ {
    position: absolute;
    left: 350px;
    bottom: 0;
    width: 100px;
    height: 100px;
}

#beam {
    position: absolute;
    left: 100px;
    bottom: 0;
    width: 50px;
    height: 50px;
}

#window {
    position: absolute;
    width: 150px;
    height: 1px;
    border: 1px solid #ccf;
    right: 100px;
    background-color: #aaf;
    opacity: 1;
    visibility: hidden;
    transition: border 1s, opacity 2s, background-color 1s;
}

#info {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: green;
    border: 2px solid #4a5;
    text-align: center;
    cursor: pointer;
    transition: all 3s;
    font-size: 2em;
}

#info.bigger {
    width: 50px;
    height: 50px;
    font-size: 2.1em;
}

#status {
    padding: 1px;
}

.holder {
    background:black;
    text-align: center;
}

#window.blow {
    border: 4px dotted red;
    background-color: gray;
    border-radius: 3px;
    padding: 3px;
    opacity: 0;
}

#window.vanish {
    border: 4px dotted red;
    background-color: gray;
    border-radius: 3px;
    padding: 3px;
    opacity: 0;
}

#banner {
    position: fixed;
    width: 50%;
    left: -25%;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;
    background-color: rgba(0,0,0, .9);
    color: #ccc;
    font-family: 'Courier New', Courier, monospace;
    opacity: 0;
    transition: all 1s;
    z-index: 100;
}

#banner.showing {
    opacity: 1;
    left: 10%;
    width: 80%;
}

#hearts {
    padding: 1px;
    position: fixed;
    top: 0;
    left: 10px;
    background: transparent;
    width: 50%;
}

#hearts img {
    margin: 5px;
}

#hearts div {
    margin: 5px;
    display: inline-block;
}

.heartSVG {
    fill: red !important;
    stroke: pink !important;
}

#points {
    text-align: center;
}

#soundBtn {
    height: 55px;
    vertical-align: middle;
}

#statsArea {
    width: 100%;
    /*overflow: scroll;*/
    word-break: break-word;
}

#statsArea span {
    margin-right: 10px;
}

#statsArea div {
    border-width: 1px 1px 1px 0;
    border-style: solid;
    display: inline-block;
}

@media only screen and (min-width: 992px) {
    #aimer {
        padding: 10px 0;
    }
    input[type=range]::-ms-thumb {
        height: 30px;
        width: 23px;
        border-radius: 8px;
    }
    input[type=range]::-moz-range-thumb {
        height: 30px;
        width: 23px;
        border-radius: 8px;
    }
    input[type=range]::-webkit-slider-thumb {
        height: 30px;
        width: 23px;
        border-radius: 8px;
    }
}